<h1>Editing Team Member Connection</h1>

<%= render 'form', team_member_connection: @team_member_connection %>

<%= link_to 'Show', @team_member_connection %> |
<%= link_to 'Back', team_member_connections_path %>
